@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@300&display=swap');


body {
font-family: "Helvetica","Oswald","Roboto";

}

header,
nav,
footer{
  background-color:#ccc;
  padding: 0;
  margin: 0;
  font-size: 40px;
}

nav{
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

p{
  line-height: 1.25;

}
p{
  color: red;
}
h1{
  color: red;
}
h2{
  font-family:"Oswald", sans-serif;
  font-weight: 900;

}
h3 {
  font-family: "Roboto", serif;
  font-weight: 600;
}

figcaption {
  font-size:14px;
  font-style: italic;
}

section {
  background-color: #bbb
}
nav {
  backgorund-color: #eee;
  position: sticky;
  top: 50px;
}

a,
a:link {
  color: #777
  padding: 4px;
}

a:hover {
  color: #fff
  background-color: #222
}

a:active {
  background-color: rgb(235, 77, 77);
}

a,
a:link {
  color: #555;
  padding: 4px;
}
a:visited {
  color: #555
}
