@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@200&family=Roboto:wght@300&display=swap');
body {
font-family: "Oswald," "Roboto," "Montserrat," sans-serif;
font-size: 18px;
color: #222
background-color: rgb(68, 121, 235, 0.5)
font-size: 40px;
line-height: 1.5,
}

header,
nav,
section {
  background-color:#ccc
}

body{
  font-family:"Oswald";
  font-weight: 700px;
  max-width: 960px;
  margin:30px auto;
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  grid-template-areas:
  "Home" "Starting Over"
  "My Journey" "Not Done Yet";
}

main{
  max-width: 600px;
}

header img {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
h2 {
  margin-top:0
}

p{
  line-height: 1.25;
}

p{
  color: black;
}
p{
font-family: "Montserrat";
font-weight: 600;
}
h1{
  color: blue;
}

h1{
  font-family: "Oswald", sans-serif;
  font-weight: 900;
}

h2{
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}


figcaption{
  font-size: 14px;
  font-size: italic;
}
header {
  padding: 0 20px;
}

nav {
  grid-area: nav;
}

nav{
  background-color: #ccc
  position: sticky;
  top: 50px;
}

section {
  padding: 20px;
}
a,
a: link {
  color:rgb(87,192,0.5)
}

a:visited {
  color: #222
}

a:hover{
  color: rgb(233,80,58,0.5)
  background-color: rgb(115,212,224)
}

a: acitve {
  color:rgb(68,121,235,0.5)
}
